#main-wrapper{
width:500px;
margin: 0 auto;
background:white;
padding:5px;

}
.tt{
	width:100px;
	height:100px;
	text-align:center;
	border-radius:50%;
}
.inputvalues{
	width:100%;
	margin:0 auto;
	
}
#login-btn{
	margin-top:10px;
	background-color:green;
	padding:5px;
	color:white;
	width:450px;
   
	font-size:18px;
	font-weight:bold;
	
}
#register-btn{
	margin-top:10px;
	
	background-color:blue;
	padding:5px;
	color:white;
	width:100%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
	
}
.myform{
	width:450px;
	margin:0 auto;
}

#sign-up{
	margin-top:10px;
	background-color:green;
	padding:5px;
	color:white;
	width:450px;
   
	font-size:18px;
	font-weight:bold;
	
}
#back-btn{
	margin-top:10px;
	
	background-color:blue;
	padding:5px;
	color:white;
	width:20%;
	text-align:center;
	font-size:18px;
	font-weight:bold;
margin-bottom:10px;}
 
 #logout-btn{
	
	margin-top:10px;
	margin-bottom:18px;
	background-color:green;
	padding:5px;
	color:white;
	width:450px;
   
	font-size:18px;
	font-weight:bold;
	
}
